# Chapter Three
## Query Primer
### Query Mechanics
- executed query is called the "result set"

### Query Clauses
- select:  determines which columns to include in the queries result set
- from:  identifies the tables from which to draw data and how the tables should be joined
- where:  restricts the number of rows in the final result set
- group by:  used to gropu rows together by common column values
- having:  restricts the number o frows in the final result set using grouped data
- order by:  sorts the rows of the final result set by one or more columns

### The SELECT Clause
- you can specify all columns with * or select specific columns
#### Column Aliases
- use an aliases to assign a new column label in the result set
#### Removing Duplicates
- To eliminate duplicate data use DISTINCT

### The FROM Clause
- the from clause defines the tables used by a query, alond with the means of linking tables together
#### Tables
- three types of tables:  permanent, temporary, and virtual tables
##### Subquery-generated tables
- a subquery serves the role of generating a temporary table that is visible from all other query clauses and can interact with other tables named in the from clause
##### Views
- a view is a query that is stored in the data dictionary
- it looks and acts like a table, but there is no data associated with a view (virtual table)

#### Table Links 
- joins
#### Defining Table Aliases
- assign each table an alias and use the alias throughout the query

### The WHERE Clause
- when you want to dilter out those rows that are not of interest
- WHERE clauses can containe a single filter condition, but can include as many condition as required
- individual conditions are separated using operators such as an, or, and not
- use parenethesis to gropu conditions together

### The GROUP BY and HAVING Clauses
- group by clause is used to grop data by column values
### The ORDER BY Clause
- the order by clause is the mechanism for sorting your result set using either raw column data or ecpressions based on the column data
- default order is ascending

### Exercises
1.  Retrieve the employee id, first name, and last name for all bank employees.  Sort by last name, then first name.

SELECT emp_id AS employee_id, fname AS first_name, lname AS last_name
FROM employee
ORDER BY last_name, first_name;

2.  Retrieve the account id, customer id, and available balance for all accounts whose status equals 'ACTIVE' and whose available balance is greater than \$2500.

SELECT account_id, cust_id AS customer_id, avail_balance AS balance
FROM account
WHERE status = 'ACTIVE'
AND avail_balance > 2500;

3. Write a query against the account table that returns the IDs of the employees who opened the accounts (use the account.open_emp_id column). 
Include a single row for each distinct employee.

SELECT DISTINCT open_emp_id AS employee_id
FROM account;


4. Fill in the blanks to match the table:

SELECT p.product_cd, a.cust_id, a.avail_balance
FROM product p INNER JOIN account a
on p.product_cd = a.product_cd
WHERE p.product_type_cd = 'ACCOUNT'
ORDER BY product_cd;